@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');
/* shared styles */
.primary-color{
    color: #FF42A5;
}
linear-color{
    background-image: linear-gradient(to bottom,#F948B2,#8758F1);
    color: transparent;
    -webkit-background-clip: text;
}
/* header styles */
header{
    padding: 20px 200px;
}
/* nav related styles */
nav{
    display: flex;
    justify-content: space-between;
}
.nav-logo{
    display: flex;
    gap: 20px;
    align-items: center;
}
nav>ul{
    display: flex;
    gap: 30px;
    align-items: center;
}
nav a{
    text-decoration: none;
}
nav li{
    list-style: none;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}
.follow{
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 16px 24px;
}
.nav-title{
    font-size: 45px;
    font-weight: 700;
}
nav img{
    width: 86.041px;
    height: 40px;
}
/* banner related styles */